app/Plugin/
app/tmp/
/vendor/
public_html/documentos/
app/Config/database.php
public_html/temporales/
public_html/blog/
public_html/css/*.v*.css
public_html/js/*.v*.js
documentos/
__sql/
phpredis/

composer.lock
.DS_Store
build.*
!empty
*.log
*.TODO

