body {
	background-color:#f3f3f3;
	text-align: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	/*color: #888;*/
    font-size: 13px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body #main-content {
  position: relative;
  display:block;
}
#contenido_derecho { padding-top: 140px; margin-left: 281px; padding-right:10px; min-height:650px;}
#contenido_izquierdo { padding-top: 140px; position:fixed; height:auto; max-height:80%;overflow:scroll; background-color:#f3f3f3;}
.violet { color: #4c416a; }
#imagen_up {background-color:#eee; width:120px; height:140px; text-align:center; padding-top:9px;}
a {
    color: #4c416a;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}
.table-fondo {background-color:#4c416a;}
a:hover { color: #888; text-decoration: none; }
.btn_color { color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#4c416a;background-image:-moz-linear-gradient(top, #4c416a, #639);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4c416a), to(#639));background-image:-webkit-linear-gradient(top, #4c416a, #639);background-image:-o-linear-gradient(top, #4c416a, #639);background-image:linear-gradient(to bottom, #4c416a, #639);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#639 #639 #639;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#4c416a;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.btn_color:hover,.btn_color:active,.btn_color.active,.btn_color.disabled,.btn_color[disabled]{color:#ffffff;background-color:#63C;*background-color:#639;}
.btn_color:active,.btn_color.active{background-color:#306 \9;}
.strong { font-weight: bold; }
.left { text-align:left;}
.right { text-align:right;}
.tabular {clear:both;}
.center { text-align:center;}
.forma_genral_tit {
    background: url(../img/line.png) left center repeat;
}
.no_link { color: #888;}
.tabla-link{color:#fff;}
.tit {color:#4c416a;}
.candidatos-icono{ background-image:url(../img/glyphicons/png/glyphicons_024_parents.png); background-repeat:no-repeat; font-size:36px; display: inline-block; text-decoration: inherit; text-align: center;}
.art_interes_tit {color:#4c416a; font-size:16px; font-weight:bold;}
.creditos_gastados{ color:#F00;}
.creditos_disponibles{ color:#009;}
/*navlist empresas */
.menu_list { 
width: 100%;
 -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
 /* Ancho del menú */
 background-color:#FFF;
}
.menu_head {
padding: 5px 10px;
cursor: pointer;
position: relative;
margin:1px;
margin-left:0;
margin-right:0;
font-weight:bold;
background-image:url(../img/back-menu.jpg); background-repeat:repeat-y;
text-align:left;
padding-left:8px;
border-bottom-color:#CCC;
border-bottom-style:solid;
border-bottom-width:thin;
color:#666;
}
.menu_head_active {
color:#4c416a; border-bottom-color:#4c416a; border-bottom-style:solid; border-bottom-width:medium; 
}
.menu_body {
display:none;
 -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);

}
.menu_body a{
display:block;
background-color:#fff; /* Color de fondo de los enlaces */
padding-left:10px;
text-decoration:none;
border-bottom-color:#CCC;
border-bottom-style:solid;
border-bottom-width:thin;
}
.menu_body a:hover{
color: #000000; /* Color de los enlaces al pasar el cursor */
}


.menu_head [class^="icon-"],.menu_head [class*=" icon-"] {
    margin-top: 15px;
    font-size: 18px;
    line-height: 22px;
	color:#FFF;
	text-align:left;
	margin-right:13px;
}
.menu_body [class^="icon-"],.menu_body [class*=" icon-"] {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
	color:#4c416a;
	text-align:left;
	margin-right:13px;}
	.menu_body_boton {
background-color:#4c416a; /* Color de fondo de los enlaces */
text-decoration:none;
border-bottom-color:#CCC;
border-bottom-style:solid;
border-bottom-width:thin;
}
.menu_body_boton a:hover{
color: #000000; /* Color de los enlaces al pasar el cursor */
}

.menu_body_boton [class^="icon-"],.menu_body_boton [class*=" icon-"] {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
	color:#ccc;
	text-align:left;
	margin-right:13px;}
	


/*termina empresas*/
.rapido-menu{ height: 35%;}
.rapido-menu [class^="icon-"],.menu_head [class*=" icon-"] {
    margin-top: 15px;
    font-size: 18px;
    line-height: 52px;
	color:#FFF;
	text-align:left;
	margin-right:13px;
	background-color:#4c416a;
	padding:10px;
	border-radius: 50%;
}




/*------ desplegable -------- */
#panel {
	background: #ffff;
	height: 100%;
	display: none; 
	margin-top:10px;
	position:absolute;
	z-index:2;
}
.btn-slide {
	color: #4c416a; text-decoration: none;
}

#calendar {
		width: 100%;
		margin: 0 auto;
		}

table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}

/* ----- Header ----- */
.header-navbar-fixed-top,
.header-navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
.header-inner {
    background: #fff;
	border-bottom-color:#4c416a;
	border-bottom-style:solid;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	 
}
.header .navbar {
    margin-bottom: 0;
}

.header .navbar-inner {
    background: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	 
}

.header h1 {
    float: left;
    margin: 0;
    text-align: left;
}

.header a.brand {
    display: inline-block;
    text-indent: -9999px;
    width: 294px;
    height: 95px;
    padding-left: 5px 5px;
    background: url(../img/logo.png) center no-repeat;
}

.header ul.nav {
    font-size: 11px;
   text-transform: uppercase;
}

.header ul.nav li a {
    padding: 10px 18px 10px;
    color: #5d5d5d;
    text-shadow: none;
}

.header ul.nav li.current-page a {
   /*  padding-top: 15px;*/
   /* border: 5px solid #4c416a;*/
    background: #4c416a;
	color:#FFF;
}

.header ul.nav li a:hover {
    background: #4c416a;
    color: #fff;
}

.header ul.nav li a i {
    line-height: 55px;
	width:35px;
    /*color: #aaa;*/
	font-size:30px;
}

.header ul.nav li a:hover i { color: #fff; }
/*--- menu top ------*/
#menu-top{
    height:100%;
    top:0px;
	margin-bottom:10px;
}

/* ----- contenido ----- */

.contenido {
    margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
  
}

.flexslider {
    /*margin-top: 45px;
    margin-bottom: 55px;
	border: 6px solid #fff;*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 -5px 15px 0 rgba(0,0,0,.05);
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 -5px 15px 0 rgba(0,0,0,.05);
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 -5px 15px 0 rgba(0,0,0,.05);
}

.flex-caption {
    position: absolute;
    bottom: 20px;
    max-width: 920px;
    padding: 10px 20px;
    margin: 0;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    text-align: left;
    font-style: italic;
}


/* ----- Buscador empleo ----- */

.presentation {
    margin-top: 5px;
	background-image:url(../img/index.jpg); background-position:left top; background-repeat:no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
	height:auto;
	width:100%;
	
}

.presentation h2 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #5d5d5d;
}

.presentation p {
    font-size: 12px;
    font-style: italic;
}
.buscador {
	margin-top:20px;
	margin-right:15px;
	margin-bottom:156px;
}

.buscador_alto {
	height:40px;}

/*alertas superiores*/

.profile-box .profile {
	float:right;
	border:2px solid #dde2e8;
	background:#fff;
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;
	height:40px;
	text-align:center;
	padding:5px;
}

.profile-box a {text-decoration:none;}
.profile-box .text-box {
	overflow:hidden;
	color:#a0a0a0;
	font-size:12px;
	line-height:12px;
}
.profile-box .section {
	padding:4px 33px 0 7px;
}
.profile-box a.section {cursor:pointer;}
.profile-box .name {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#4f5f6f;
	font-weight:normal;
}

/* ----- Vista previa oferta ----- */

.vista_previa {
	margin-top: 10px;
	background-color:#f3f3f3;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}


.vista_previa h5 {
	margin-top:10px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    line-height: 14px;
	color:#5d5d5d;
	background-color:#e7e4e4;

}

/* ----- EMPRESAS ----- */

.empresas_index-tit {
	font-weight:bold;
}
.empresas_index-tit i { color:#4c416a;
}
/* ----- OFERTAS ----- */
.ofertas_back {background-color:#FFF; border:1px solid #dddddd; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; height:200px;}
.ofertas_back_in {background-color:#e4e4e4; border:1px solid #dddddd; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; margin:5px; height:187px;}
.ofertas_back_in [class^="icon-"],.ofertas_back_in [class*=" icon-"] {
    margin-top: 35px;
    font-size:54px;
    line-height: 112px;	padding:10px;
	border-bottom-color:#333; border-bottom-style:solid; border-bottom-width:thin;
}
a.ofertas_back_in:hover{border-color:#0088cc;-webkit-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);-moz-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);box-shadow:0 1px 4px rgba(0, 105, 214, 0.25); }

.ofertas img {
    border: 3px solid #4c416a;
	height:auto;
	margin:auto 15px;
	margin-top:10px;
	margin-bottom:15px;
}
.dudas {background-color:#FFF; border:2px solid #4c416a; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1); padding:10px;}
.dudas img {
	text-align:left;
	width:5%;
	height:auto;
	margin:auto 5px;
	margin-top:5px;
	margin-bottom:5px;
}
/*--- animacion membresias---*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}



.ch-info {
	position: absolute;
	background: #4c416a;
	width: 100%;
	height: inherit;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 5px;
	padding: 10px 0 0 0;
	height: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
		font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.basica {
	
	background:#de6d08;
	
}


.silver {
	
	background:#52776f;
}
.diamond {
	
	background: #3d6ab1;
	}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}



/* ----- ARTICULOS DE INTERES ----- */
.articulos_interes {
	margin-top: 50px;
	margin-right:15px;
	position:relative;
	z-index:1;
}
.articulos_interes a{
	font-weight:bold;
}
.articulos_interes [class*="span"]{ margin-left:2px;
}
.articulos_interes .work {
    border: 3px solid #535353;
	margin-bottom:20px;
	padding-left:3px;
}
.articulos_interes #img {
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	max-width: 100%;

}
.articulos_interes #img:hover {
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.articulos_interes .work:hover {
	 border: 3px solid #4c416a;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
}
.articulos_interes p {
	background-color:#FFF;
}


/* ----- Clientes ----- */

.n_clientes {
	margin-top: 10px;
}

.n_clientes .work {
    border: 3px solid #535353;
	margin-bottom:20px;
	width:90%;
	text-align:center;
	max-width:100%;
}

.n_clientes #img {opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.n_clientes #img:hover {
	opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */

}

.n_clientes p { text-align:left; padding-left:10px;}
.n_clientes #nombre_cliente { text-align:left; padding-left:10px; font-size:14px;}




.n_clientes .work:hover {
	 border: 3px solid #4c416a;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
}

.n_clientes .work .icon-awesome {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
}

.n_clientes .work .icon-awesome a {
    display: inline-block;
    padding: 5px 9px;
    background: #4c416a; 
    color: #fff;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.n_clientes .work .icon-awesome a:hover {
    background: #5d5d5d;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.n_clientes .work .icon-awesome a:active {
    -moz-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}




/* -----lightbox ----- */
.fadebox {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 550%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.overbox {
	display: none;
	position: relative;
	top: 5%;
	/*left: 25%;*/
	/*width: 50%;*/
	height: 80%;
	z-index:1002;
	overflow: auto;
	
}

.lightboxint{
	width:50%;
	background-color:#fff;
	border:#333;
	  box-shadow:0 0 10px rgba(0,0,0,.5);
	   margin-top: 30px;
	   margin-left:405px;
    padding-bottom: 50px;
	border-radius:10px;
	-moz-border-radius:10px;
	
}
.lightboxint-title {
    background: url(../img/line.png) left center repeat;
	
}
.lightboxint-title h3 {
    width: 100%;
    margin: 0 auto;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:bolder;
    font-size: 24px;
    color: #5d5d5d;
}
.lightboxint-list p {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    line-height: 14px;
	color:#CCC;

}
div#comandos { border-right:#333 medium solid;
}

/* ----- Footer ----- */

footer {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #615f5f;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}
footer .telefono {
	font-style:italic;
	font-weight:bold;
}

footer .contenedor {
	/*width:85%;*/
    margin: 0 auto;
    padding-bottom: 10px;
    background: #615f5f;
}
footer .lastline{background-color:#4c416a; width:100%;  margin:auto;  text-align:center;}
footer .widget {
    margin-top: 5px;
    text-align: left;
}

footer .widget h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

footer .widget p {
    line-height: 12px;
	color:#FFF;
}
footer .a {
	 color: #fff;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}
footer .a:hover {
	 color: #ccc;
    text-decoration:underline;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

footer .widget i {
    padding-right: 7px;
}


footer .footer-border {
    margin-top: 30px;
    border-top: 1px dashed #ddd;
}

.copyright {
  margin-top: 10px;
  text-align: left;
	color:#FFF;
}

.social {
    margin-top: 10px;
    text-align: right;
	margin-right:15px;
}
.social_lateral{
	background-color:#4c416a;
    margin-top: 10px;
    text-align: center;
	margin-right:15px;
	height:30px;
	padding-top:5px;
}

 .social a { display: inline-block; width: 24px; height: 24px; margin: 0 0 0 8px; vertical-align: middle; }

 .social a.twitter { background: url(../img/social-icons/twitter.png) left bottom no-repeat; }
 .social a.dribbble { background: url(../img/social-icons/dribbble.png) left bottom no-repeat; }
 .social a.rss { background: url(../img/social-icons/rss.png) left bottom no-repeat; }
 .social a.pinterest { background: url(../img/social-icons/pinterest.png) left bottom no-repeat; }
.social a.flickr { background: url(../img/social-icons/flickr.png) left bottom no-repeat; }
 .social a.forrst { background: url(../img/social-icons/forrst.png) left bottom no-repeat; }
.social a.vimeo { background: url(../img/social-icons/vimeo.png) left bottom no-repeat; }
.social a.linkedin { background: url(../img/social-icons/linkedin.png) left bottom no-repeat; }
 .social a.facebook { background: url(../img/social-icons/facebook.png) left bottom no-repeat; }
 .social a.email { background: url(../img/social-icons/email.png) left bottom no-repeat; }
.social a.github { background: url(../img/social-icons/github.png) left bottom no-repeat; }
 .social a.behance { background: url(../img/social-icons/behance.png) left bottom no-repeat; }
 .social a.googleplus { background: url(../img/social-icons/googleplus.png) left bottom no-repeat; }
.social a.youtube { background: url(../img/social-icons/youtube.png) left bottom no-repeat; }
.social a.skype { background: url(../img/social-icons/skype.png) left bottom no-repeat; }
 .social a.tumblr { background: url(../img/social-icons/tumblr.png) left bottom no-repeat; }

 .social a:hover { background-position: left top; }


/* ----- social vacantes ----- */
.social_vacantes {
    margin-top: 10px;
    text-align: left;
	margin-right:15px;
	
}


 .social_vacantes a { display: inline-block; width: 24px; height: 24px; margin: 0 0 0 8px; vertical-align: middle; }

 .social_vacantes a.twitter { background: url(../img/social-icons/color/twitter.png) left bottom no-repeat ; }
.social_vacantes a.linkedin { background: url(../img/social-icons/color/linkedin.png) left bottom no-repeat; }
 .social_vacantes a.facebook { background: url(../img/social-icons/color/facebook.png) left bottom no-repeat; }
.social_vacantes a.googleplus { background: url(../img/social-icons/color/googleplus.png) left bottom no-repeat; }
 .social_vacantes a:hover { background-position: left top; }
/* ----- Page title ----- */

.page-title {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-align: left;
}

.page-title h2 {
    display: inline;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-icon {
    margin-left: 20px;
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}




/* ----- Google maps ----- */

.map {
    margin: 20px 20px 40px 20px;
    height: 300px;
    border: 5px solid #f8f8f8;
}



/* ----- Media queries ----- */

@media (min-width: 980px) and (max-width: 1200px) {

    .flex-caption {
        max-width: 700px;
    }

    .what-we-do .service p, .portfolio .work p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .call-to-action-text {
        padding-bottom: 30px;
    }

    .call-to-action-text .ca-text {
        padding: 0 35px;
    }

    .call-to-action-text .ca-button {
        margin-top: 10px;
    }


}

@media (min-width: 768px) and (max-width: 979px) {

   /* .header ul.nav li a {
        padding: 15px 20px 15px 20px;
        font-weight: normal;
        text-align: left;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .header ul.nav li.current-page a {
        padding-top: 15px;
    }

    .header ul.nav li a i, .header ul.nav li a br {
        display: none;
    }
*/
#contenido_derecho { margin:40px; width:90%; clear:both;}
	#contenido_izquierdo { padding-top: 280px; position:relative; clear:both; max-height:none; width:100%; overflow:hidden;background-color:#f3f3f3;}
	#contenido_izquierdo .span2 {width:100%;}
	#contenido_derecho .span2 {width:100%;}
	
	 

.header-inner .span12{
    width:95%;
	 
}

    .flex-caption {
        max-width: 500px;
    }
	

    .what-we-do .service p, .portfolio .work p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .call-to-action-text {
        padding-bottom: 30px;
    }

    .call-to-action-text .ca-text {
        padding: 0 35px;
    }

    .call-to-action-text .ca-button {
        margin-top: 10px;
    }

}

@media (max-width: 800px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }
	#contenido_derecho { margin-left:0px; width:100%; clear:both;}
	#contenido_izquierdo { padding-top: 280px; position:relative; clear:both; max-height:none; width:100%; overflow:hidden;}
	#contenido_izquierdo .span2 {width:100%;}
	#contenido_derecho .span2 {width:100%;}

    .contenido, .what-we-do, .portfolio {
        padding: 0 20px;
    }

    .what-we-do {
        margin-top: 30px;
    }

   /* .header ul.nav li a {
        padding: 15px 20px 15px 20px;
        font-weight: normal;
        text-align: left;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .header ul.nav li.current-page a {
        padding-top: 15px;
    }

    .header ul.nav li a i, .header ul.nav li a br {
        display: none;
    }*/

    .flex-caption {
        display: none;
    }

    .presentation, footer, .testimonials {
        padding-left: 20px;
        padding-right: 20px;
    }

    .presentation p {
        line-height: 30px;
    }

    .page-title p {
        display: block;
        margin-top: 10px;
        margin-left: 20px;
    }
#out_container {
    margin:0 auto;
    background:#fff;
   
}
#out_container.boxed {
    margin:0px auto;
	
}

}

@media (max-width: 480px) {


}
/*mon codigo*/
.bodywithe{background-color:#FFF; width:980px;}
.codrops-top{
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-moz-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-o-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-ms-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-moz-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-o-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-ms-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}


/*Custom Landscapes Start*/

#out_container {
    margin:0 auto;
    background:#fff;
   
}
#out_container.boxed {
    margin:0px auto;
	
}
@media (min-width: 970px) {
    #out_container.boxed, #out_container.boxed-attached {
        width:100%; margin:0px auto;
	
    }}

	
/* Portrait tablet to landscape and desktop */
@media (min-width: 800px) and (max-width: 969px) {
    #out_container.boxed, #out_container.boxed-attached {
        width:764px; margin:0px auto; 
	
    }
}
